.App{
  min-height: 100vh;
  background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
}
.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar{
  width: 30%;
  border: none;
  padding: 10px;

}
.search-button{
  background: coral;
  border: none;
  padding: 10px;
  color: white;

}
.recipe-form{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  

}
